#test{
    color: #00ff62;
}
body{
    background-image: url("../Picture/04.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-position: 50%  100%; */
    background-size: cover;
}
h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: white;
}