#test{
    color: aqua;
}
body{
    background-image: url("../Picture/登录-星空.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50%  100%;
    background-size: cover;
}